body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

.container {
  padding: 2em;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin-bottom: 1em;
  padding: 0.5em;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5em;
  width: auto;
  cursor: pointer;
  align-self: center;
  border-radius: 5px;
}

button:hover {
  background-color: #b18862;
}

.voltar {
  display: block;
  margin: 20px auto;
  padding: 0.5em 1em;
  background-color: #333;
  color: #fff;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.voltar:hover {
  background-color: #b18862;
}