body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1em 0;
}

.container {
  padding: 2em;
  max-width: 800px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  overflow-x: auto;
}

.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.foto {
  flex: 1 1 calc(25% - 10px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.foto img {
  width: 100%;
  height: auto;
}

.descricao {
  padding: 0.5em;
  background-color: #fff;
}

.voltar {
  display: block;
  margin: 20px auto;
  padding: 0.5em 1em;
  background-color: #333;
  color: #fff;
  border: none;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.voltar:hover {
  background-color: #b18862;
}

/* Responsividade para material.html */
.container img.responsive-map {
  width: 100%;
  height: auto;
  display: block;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 900px) {
  .container {
    padding: 1.5em;
    margin: 1em;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  header h1 {
    font-size: 1.25rem;
    padding: 0.5em 0;
  }

  .galeria .foto {
    flex: 1 1 calc(50% - 10px);
  }

  .voltar {
    width: 90%;
    padding: 0.75em 1em;
    font-size: 1rem;
  }
}

@media (max-width: 360px) {
  .galeria .foto {
    flex: 1 1 100%;
  }
}