body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #f9f9f9;
}

header {
  background-color: #333;
  padding: 20px;
}

h1 {
  color: #ffffff;
}

.container {
  padding: 30px;
}

button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 0.5em;
  width: auto;
  cursor: pointer;
  align-self: center;
  border-radius: 5px;
  height: auto;
}

button:hover {
  background-color: #b18862;
}
